<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Seu Título de E-mail</title>
</head>

<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" bgcolor="#f4f4f4">
        <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td bgcolor="#ffffff" style="padding: 20px 0;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" style="padding: 40px 0;">
                    <h1 style="font-size: 24px; color: #333333;">{{title}}</h1>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding: 20px 0;">
                    <p style="font-size: 16px; color: #666666;">{{description}}</p>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <a href="http://localhost:5173/processos/{{processname}}/{{processid}}"
                      style="background-color: #007BFF; color: #ffffff; padding: 15px 30px; text-decoration: none; font-size: 18px; border-radius: 5px;">Botão</a>
                    <!-- Substitua o link acima pelo link desejado para o seu botão -->
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>