.container{
    gap: 3em;
    display: flex;
    justify-content: end;
    margin: 1em 2.5em;
    padding: 0px;
    max-width: 100%;
} 

.grid-pai{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 3em 6em;
}

.Hoje{
    place-content: center;
    text-align: start;
    margin: 0;
}

.tituloHoje{
    font-size: 3em;
}

.dataHoje{
    grid-column: 1;
}

.processo{
    font-size: 2em;
    font-weight: bold;
}

.processoTexto{
    grid-column: 1;
}
